<div class="download-buttons">
  <div class="download-primary">
    <a href="{{ site.download_base_url }}/latest" class="btn btn-primary" id="download-auto">
      <span class="btn-icon">⬇️</span>
      <span class="btn-text">Download LibreDrop</span>
      <span class="btn-version">v{{ site.latest_version }}</span>
    </a>
  </div>
  
  <div class="download-alternatives">
    <a href="{{ "/download" | relative_url }}" class="link-secondary">All platforms & versions</a> • 
    <a href="{{ site.repository }}" class="link-secondary">View source code</a>
  </div>
</div>
